<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Toth Limitada">
        <meta name="description" content="Toth schedule module">
        <title>Toth schedule module</title>
    </head>

    <body>
        <%= render @view_module, @view_template, assigns %>
    </body>
</html>
