<script type="text/javascript">
    window.UserRemote = {
        method: '<%= @remote_method %>',
        ip: '<%= @remote_ip %>',
        agent: '<%= @remote_user_agent %>'
    };
    window.token = '<%= @token %>';
</script>
<div id="schedule"></div>
