<script type="text/javascript">
    window.ScheduleToken =  '<%= @schedule_token %>';
    window.UserToken = '<%= @user_token %>';
    window.ChannelToken = '<%= @channel_token %>';
</script>
<div id="schedule"></div>
