body {
	background-color: #000;
}
.rc-tree-select-selection--multiple {
    z-index: 9999;
}

.rc-tree-select-selection {
    clear: both;
    outline: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    /*border: 1px solid #d9d9d9;*/
    border-bottom: 1px solid #d9d9d9 !important;
}

.rc-tree-select-dropdown {
    z-index: 9999;
}
