@import 'colors';
@import 'fonts';

html,
body {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;

    & > div,
    & > div > div,
    & > div > div > div {
        width: 100%;
        height: 100%;
    }

    .container,
    .container-fluid {
        height: 100%;
    }
}

.rc-tree-select-selection {
    clear: both;
    outline: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: $white;
    border-bottom: 1px solid $alto !important;
}

.rc-tree-select-dropdown,
.rc-tree-select-selection--multiple {
    z-index: 9999;
}

.slot {
    background: $persian-green;
    color: $gallery;
}

.schedule-body {
    background: #00796b;
    color:#efefef;
}

.loading {
    width: 100%;
    height: 100vh;
    display: table;

    .cell {
        display: table-cell;
        vertical-align: middle;
    }
}

.header {
    max-height: 6%;
    width: 100%;
    height: 100%;

    .header-space,
    .header-content {
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $white;
        background: transparent;
    }

    .header-content {
        position: fixed;
        left: 0;
        top: 0;
        max-height: 6%;
        background-color: $persian-green;
        color: $gallery;

        .typography {
            width: 100%;
            height: 65%;

            .name {
                display: inline-table;
                height: 100%;
                margin-left: 10px;
                margin-right: 20px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 20pt;
                }
            }

            .stains {
                display: inline-table;
                width: 50px;
                height: 100%;
                vertical-align: top;

                div {
                    display: table-cell;
                    vertical-align: middle;

                    .red,
                    .blue,
                    .yellow,
                    .orange {
                        font-size: 15pt;
                    }

                    .red {
                        color: $red;
                    }

                    .blue {
                        color: $blue;
                    }

                    .yellow {
                        color: $yellow;
                    }

                    .orange {
                        color: $orange;
                    }

                    span {
                        margin-left: 5px;
                        font-size: 12pt;
                    }
                }
            }
        }

        .days {
            width: 100%;
            height: 35%;
            background-color: $blue-chill;

            table {
                width: 100%;
                height: 100%;

                th {
                    vertical-align: middle;
                    text-align: center;
                    color: $white;
                }
            }
        }
    }
}

.calendar {
    width: 100%;

    .calendar-grid {
        width: 100%;

        table {
            width: 100%;

            tr:first-child {
                td {
                    border-top: 0px;
                }
            }

            /* td:first-child {
                border-left: 2px solid $white;
            }

            td:last-child {
                border-right: 2px solid $white;
            } */

            td {
                height: 40px;
                border: 2px solid $white;
                background-color: $shamrock;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}
