//global variables
$cellHeight: 20;
$cellPadding: 2;
$eventHeight: $cellHeight - $cellPadding;
$backgroundColor: $quill-gray;
$gridColor: darken($backgroundColor, 10%);
$cellBorder: 1px;

.cells {
    height: $cellHeight + px;
    border-left: $cellBorder solid $gridColor;
    border-right: $cellBorder solid $gridColor;
    border-top: $cellBorder solid $gridColor;
    border-bottom: $cellBorder solid $gridColor;
    background-color: $backgroundColor;
    vertical-align: middle;
    text-align: center;
}

.schedule-body {
    background: #00796b;
    color:#efefef;
}

.loading {
    width: 100%;
    height: 100vh;
    display: table;

    .cell {
        display: table-cell;
        vertical-align: middle;
    }
}

.navbar {
    max-height: 6%;
    width: 100%;
    height: 100%;
    margin-bottom: 0;

    .navbar-space,
    .navbar-content {
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $teal;
        background: transparent;
    }

    .navbar-content {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        max-height: 6%;
        background-color: $persian-green;
        color: $gallery;

        .typography {
            width: 100%;
            height: 65%;

            .name {
                display: inline-table;
                height: 100%;
                margin-left: 10px;
                margin-right: 20px;

                span {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 20pt;
                }
            }

            .stains {
                display: inline-table;
                width: 50px;
                height: 100%;
                vertical-align: top;
                font-family: $roboto;

                div {
                    display: table-cell;
                    vertical-align: middle;

                    .red,
                    .blue,
                    .yellow,
                    .orange {
                        font-size: 15pt;
                    }

                    .red {
                        color: $red;
                    }

                    .blue {
                        color: $blue;
                    }

                    .yellow {
                        color: $yellow;
                    }

                    .orange {
                        color: $orange;
                    }

                    span {
                        margin-left: 5px;
                        font-size: 12pt;
                    }
                }
            }
        }

        .schedule-header {
            display: table;
            width: 100%;
            height: 35%;
            background-color: $blue-chill;

            .times {
                display:table-cell;
                width: 100px;
            }

            .days {
                display: table-cell;
                height: 100%;

                table {
                    width: 100%;
                    height: 100%;

                    th {
                        vertical-align: middle;
                        text-align: center;
                        color: $white;
                        font-family: $roboto;
                    }
                }
            }
        }
    }
}

.calendar {
    position: relative;
    width: 100%;

    .calendar-grid,
    .calendar-layout {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .calendar-grid {
        display: table;
        z-index: 8;

        .times,
        .events {
            display: table-cell;
            vertical-align: top;
        }

        .times {
            width: 100px;

            table {
                width: 100%;

                td {
                    width: 100%;
                    @extend .cells;
                }
            }
        }

        .events {
            table {
                width: 100%;
                td {
                    @extend .cells;
                }
            }
        }
    }

    .calendar-layout {
        display: table;
        z-index: 9;
        line-height: 1;

        .cell-space,
        .cell-layout {
            display: table-cell;
            vertical-align: top;
        }

        .cell-space {
            width: 100px;
        }

        .cell-layout {
            .layout {
                width: 100%;

                .react-grid-item {
                    background-color: $white;

                    .event {
                        width: 100%;
                        height: 100%;
                        margin-left: 1px;
                        border: 2px solid $backgroundColor;
                        border-left: 8px solid $teal;
                        font-family: $roboto;
                        cursor: pointer;

                        .info {
                            width: 100%;
                            padding-left: 2px;

                            .name,
                            .dni {
                                display: inline-block;
                                width: 50%;
                            }

                            .name {
                                text-align: left;
                                font-size: 12px;
                            }

                            .dni {
                                text-align: right;
                                font-size: 11px;
                            }
                        }
                    }
                }

                .react-grid-placeholder {
                    background: $gray;
                    opacity: 0.4;
                }
            }
        }
    }
}
